body{font-family: 'Courier New', serif;background-size: 12%;}
.notification{
    background-image: url('../img/texture.jpg');
    background-color: rgba(0,0,0, 0.85);
    background-blend-mode: color-dodge;                
    background-size: 200%;
    border:2px solid #191919;
}
.box, body{
    background-image: url('../img/leather.jpg');
    background-color: rgba(0,0,0, 0.7);
    background-blend-mode: color-dodge;                
}            
.box, .is-hero{
    outline: 1px dashed #333;
    outline-offset: -0.30em;
}
.box{color:#eee;background-size: 32%;}
.box.is-primary{background-color: #14161a;}
.is-background{background-color: #14161a;}
.tiny-tags .tag{font-size: 0.6em; padding-left: 0.5em;padding-right: 0.5em;}
.listing-description p, .past-projects li{padding-bottom: 1em;}
.listing-description h2, .listing-description h3 {padding-top:1em;}
ul {list-style-type:circle;list-style-position:inside;}
.past-projects ul {list-style-type: none;}
.jost-300 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.jost-700 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.lexend-tera-100 {
    font-family: "Lexend Tera", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.logo {
    font-family: "Belanosima", sans-serif;
    font-weight: 700;
    display:inline-block;
    color:#fff;
}
.logo .dot {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 0.4em;
    color:#ff00ff;
    letter-spacing: 1px;  
}
.brand{
    color:#ff00ff;
}
.shoppe-brand{
    font-family: "Alegreya SC", serif;
    font-weight: 800;
    font-style: normal;                
}
.service-large .shoppe-brand, .shoppe-brand{
    color:#fff;
}
.logo .o {
    color: #ff00ff;
    padding: 0 0;
    margin: 0 2px 0 3px;
    display:inline-block;
    vertical-align: -0.48em;
    width: 0.6em;
    height: 0.6em;
    background-color: #ff00ff;
    border-radius: 50%;    
    text-indent: -9999px;
    white-space: nowrap; 
}